<footer class="section pt-5 pb-5">
  <div class="container">
    <div class="text-center text-md-left">
      <div class="mb-3 d-md-flex justify-content-between align-items-center">
        <div class="mb-5 mb-md-0">
          <a href="#" class="icon-social">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="#" class="icon-social">
            <i class="fab fa-linkedin"></i>
          </a>

          <a href="#" class="icon-social">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <div class="mb-5 mb-md-0">
          <a href="#" class="link-primary text-small">Sitemap</a>
          <span class="text-grey text-small ml-2 mr-2">|</span>
          <a href="cookie-policy" class="link-primary text-small">Cookie policy</a>
        </div>

        <p class="text-small text-grey mb-5 d-md-none">&copy; 2019</p>

        <div>
          <a href="https://stan.vision" class="link-stan-vision" target="_blank" rel="noopener">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g fill="none" fill-rule="evenodd">
                  <ellipse id="logo" cx="13.985" cy="14" fill="#82878B" rx="13.985" ry="14"/>
                  <path fill="#FFF" d="M14.13 15.183h1.571L11.776 22l-3.925-6.813 1.569-.004 2.356 4.09 2.355-4.09zM19.452 6h1.546l-2.899 5.112h-1.546L19.452 6zm-4.264 6.505c2.164 0 3.919 1.765 3.919 3.943 0 2.177-1.755 3.943-3.919 3.943h-.872l.791-1.38h.081a2.555 2.555 0 0 0 2.547-2.563 2.555 2.555 0 0 0-2.547-2.563h-4.268C8.754 13.885 7 12.12 7 9.943 7 7.765 8.754 6 10.919 6h6.928l-.791 1.38h-6.137A2.555 2.555 0 0 0 8.37 9.943a2.555 2.555 0 0 0 2.548 2.562h4.268z"/>
              </g>
            </svg>
            Design by <strong>Stan Vision</strong></a>
        </div>
      </div>

      <p class="text-small text-center text-grey d-none d-md-block">&copy; 2019</p>
    </div>
  </div>
</footer>
